# Atlas Multi-Sig Contract Address on Mantle Sepolia
NEXT_PUBLIC_ATLAS_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# Particle Network (Social Login)
NEXT_PUBLIC_PARTICLE_PROJECT_ID=
NEXT_PUBLIC_PARTICLE_CLIENT_KEY=
NEXT_PUBLIC_PARTICLE_APP_ID=

# Biconomy (Gasless Tx) - API Key only needed!
NEXT_PUBLIC_BICONOMY_API_KEY=

# Data APIs (Dune Echo & Covalent)
NEXT_PUBLIC_COVALENT_API_KEY=
NEXT_PUBLIC_DUNE_API_KEY=
